<!-- Heading Row -->
	<div class="container">
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/head1.jpg" alt="....">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <h1 class="font-weight-light">This is online-shop of Hien</h1>
      <p>I would like to supply the wonderful spicies (seasonings) in the world ! Specifically, they are carefully selected and tasted. Enjoy them and let me know how do you think ^_^</p>
      <a class="btn btn-primary" href="#" routerLink="/hd" routerLinkActive="active">Contact me !</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Contact me -->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">The world is full of mysteries and surprises! Of course for the paradise of the seasoning as well! If you know others ones that you love them, feel free to share with me! Thank you so much!</p>
    </div>
  </div>
</div>

