
  <!-- Heading Row -->
	<div class="container">
		<div class="row align-items-center my-5">
			<div class="col-lg-7">
				<img class="img-fluid rounded mb-4 mb-lg-0" src="assets/head1.jpg" alt="....">
			</div>
			<!-- /.col-lg-8 -->
			<div class="col-lg-5">
				<h1 class="font-weight-light">This is online-shop of Hien</h1>
				<p>I would like to supply the wonderful spicies (seasonings) in the world ! Specifically, they are carefully selected and tasted. Enjoy them and let me know how do you think ^_^</p>
				<a class="btn btn-primary" href="#">Contact me !</a>
			</div>
			<!-- /.col-md-4 -->
		</div>
		<!-- /.row -->
		<div class="container">
			<!-- Content Row -->
			<div class="row">
				<div class="col-md-4 mb-5">
					<div class="card h-100">
						<div class="card-body">
							<h2 class="card-title">Curcuma</h2>
							<img src="assets/curcuma.jpg" alt="" width="300px" height="200px">
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
						</div>
						<div class="card-footer">
							<a href="#" class="btn btn-primary btn-sm">More Info</a>
						</div>
					</div>
				</div>
				<!-- /.col-md-4 -->
				<div class="col-md-4 mb-5">
					<div class="card h-100">
						<div class="card-body">
							<h2 class="card-title">Canelle</h2>
							<img src="assets/canelle.jpg" alt="" width="300px" height="200px">
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
						</div>
						<div class="card-footer">
							<a href="#" class="btn btn-primary btn-sm">More Info</a>
						</div>
					</div>
				</div>
				<!-- /.col-md-4 -->
				<div class="col-md-4 mb-5">
					<div class="card h-100">
						<div class="card-body">
							<h2 class="card-title">Pepper</h2>
							<img src="assets/poivre.jpg" alt="" width="300px" height="200px">
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
						</div>
						<div class="card-footer">
							<a href="#" class="btn btn-primary btn-sm">More Info</a>
						</div>
					</div>
				</div>
				<!-- /.col-md-4 -->
			
			</div>
			<!-- /.row -->
			</div>


